body {
  background-image: url("../assets/images/pexels-august-de-richelieu-4427430 1.png");
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fix the background image */
  background-size: cover;
  padding: 0;
  margin: 0;
}

.menu-article {
  margin-right: 2rem;
  margin-bottom: 8rem;
}

.log-menu {
  margin-top: 2rem;
  margin-left: 0.5rem;
  display: flex;
  justify-content: space-between;
}

#nav-bar {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-top: 1.8rem;
}
#nav-bar a {
  color: white;
  text-decoration: none;
  margin: 15px;
}

.phone-number {
  margin-top: 1rem;
  text-align: right;
}
.phone-number div {
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  margin-right: 1rem;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.main-case-rev {
  text-align: center;
  color: white;
  font-family: "Noto Sans", sans-serif;
  margin-top: 8.7rem;
}
.main-case-rev .san-diego {
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
}
.main-case-rev .premiere {
  font-family: "Times New Roman", Times, serif;
  font-size: 7rem;
  letter-spacing: 1.2rem;
  margin-top: 1rem;
}
.main-case-rev .injury {
  margin-top: 3rem;
}

.free-case-button {
  margin-top: 3rem;
  background-color: #FF0000;
  color: white;
  font-weight: 550;
  letter-spacing: 0.2rem;
  padding: 20px 32px;
  border: #FF0000;
  cursor: pointer;
}

/* SECTION 2 */
.case-results-aricle {
  background-color: black;
  padding-top: 8rem;
  padding-left: 15rem;
}
.case-results-aricle .case-main {
  margin-top: 4rem;
}
.case-results-aricle .title-case {
  color: white;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.case-results-aricle .we-get-results {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}
.case-results-aricle .we-get-results .text-bg-color-image {
  background: url("../assets/images/image 11.png") no-repeat center center;
  background-size: cover;
  -webkit-background-clip: text; /* Safari/Chrome */
  background-clip: text;
  color: transparent;
  font-size: 5rem;
  font-weight: 700;
  display: inline-block;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.case-results-aricle .we-get-results .see-all-results-button {
  margin-right: 2rem;
  padding: 1rem;
  border: #D85172 1px solid;
  border-radius: 0.5rem;
  background-color: inherit;
  color: white;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.case-results-aricle .casses-box {
  margin-top: 8rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  overflow: hidden;
  width: 100%;
}
.case-results-aricle .casses-box .case-box {
  background-color: white;
  padding: 5rem;
  margin-right: 1rem;
  flex: 1 0 50%;
}
.case-results-aricle .casses-box .case-box .category-result {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.5rem;
  font-weight: bold;
  font-size: 0.7rem;
}
.case-results-aricle .casses-box .case-box .description-last-title {
  font-family: "Lato", sans-serif;
  margin-top: 1.5rem;
  line-height: 2rem;
  text-align: left;
  margin-bottom: 3rem;
}
.case-results-aricle .casses-box .case-box .amount {
  margin-top: 1.5rem;
  color: #D85172;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}
.case-results-aricle .nav-icons .left {
  cursor: pointer;
  transform: scaleX(-1);
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}
.case-results-aricle .nav-icons .right {
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.sergey-image {
  background-color: black;
}
.sergey-image img {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

.icons-article {
  background: url(../assets/images/Group\ 33.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem;
}
.icons-article .icons-main {
  display: flex;
  gap: 15rem;
  flex-wrap: wrap;
  justify-content: center;
}
.icons-article .icon {
  color: white;
  text-align: center;
  box-sizing: border-box;
  flex: 1;
}

.why-choose-us-aricle {
  padding: 10rem;
  background: linear-gradient(to bottom, white 30%, #EAEAEA 30%);
}
.why-choose-us-aricle .why-title {
  font-family: "Roboto Slab", serif;
  font-size: 5rem;
  margin-bottom: 3rem;
}
.why-choose-us-aricle .why-boxes {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;
}
.why-choose-us-aricle .why-boxes .box {
  margin: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  flex: 1 0 20%;
}
.why-choose-us-aricle .why-boxes .box .why-box-title {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
}
.why-choose-us-aricle .why-boxes .box .why-description {
  line-height: 2;
  margin-bottom: 4rem;
}
.why-choose-us-aricle .why-button {
  text-transform: uppercase;
  margin-top: 3rem;
  background-color: #C50A20;
  padding: 1.5rem;
  color: white;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.1rem;
  border: #C50A20 2px solid;
  border-radius: 0.3rem;
  cursor: pointer;
}

/* For Desktop View */
/* For Tablet View */
/* For Mobile Portrait View *//*# sourceMappingURL=index.css.map */